.square {
  width: 20px;
  height: 20px;
  position: absolute;
}

body > div {
  position: relative;
}

#button-box {
  position: relative;
  top: 350px;
}

button {
  width: 120px;
  padding: 5px;
  margin-left: 12px;
}

#invert {
  background: rgb(255, 127, 255);
  border-color: white;
  color: white;
}
#vintage {
  background: rgb(10, 95, 0);
  color: white;
  border-color: rgb(10, 10, 0);
}
#reddify {
  background: red;
}
#purpleify {
  background: purple;
  color: white;
}
#grayscale {
  background: rgb(128, 128, 128);
}
#decreaseblue {
  background: rgb(0, 0, 128);
  color: white;
}
#igbb {
  background: rgb(0, 128, 128);
  color: white;
}
#sml {
  background: green;
}
#reset {
  background: rgb(0, 0, 0);
  color: white;
  border-color: gray;
}
